
<div class="container" >
    <h1>To-Do List!</h1>

    <form #SearchTaskForm="ngForm" ngModel (ngSubmit)="search(SearchTaskForm)">
        <input type = "text" name="task" ngModel placeholder="task name" />
        <button>Search for task</button>
    </form>

    <div *ngFor = "let toDo of listOfTodo; index as i"> 
        <div *ngIf="toDo.completed == false">
            <input type="checkbox"(click)="changeStatus(i)">
            <label> {{toDo.task}}</label>
            <button mat-fab color="primary" aria-label="delete" (click)="delete(i)">
                <mat-icon> delete </mat-icon>
            </button>
        </div>
    
        <div *ngIf="toDo.completed == true">
            <input type="checkbox" checked="true"/>
            <label> {{toDo.task}}</label>
            <button mat-fab color="primary" aria-label="delete" (click)="delete(i)">
                <mat-icon>delete</mat-icon>
            </button>
        </div> 
    </div>

    <div>
        <!-- #addNameForm is the name of the whole element, and we are telling angular to store the form in a varaible called addTaskForm-->
        <form  #addTaskForm="ngForm" ngModel (ngSubmit)="addTask(addTaskForm)">
            <input type = "text" name="task" ngModel placeholder="Example: order paint" />
            <button>Add task</button>
        </form>
    </div>
</div>

