
html {
  font-family: Open Sans;
  font-weight: 300;
}

h1 {
  font-size: 30px;
}

input[type=text]:focus {
  border: 2px solid rgb(184, 179, 179);
}

.done {
  text-decoration: line-through;
}

button {
  background-color: #f857a6;
  padding: 1%;
  margin: 5px;
}

.container {
  background-color: #eee;
  padding: 5%;
  margin:10%;
  margin-top: 5%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 3px;
}

mat-icon {
  padding: 0%;
}



